.hashtagContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-bottom: 1px solid white;
    padding: 16px;


}

.hashtag {
    font-size: 2em;
}