.hashtagContainer {
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    padding: 16px;
}

.hashtag {
    font-size: 2em;
}

.numberHashtag{
    font-size: 0.5em;
}

