.page {
    display: flex;
    margin: 10px;
    border-radius: 16px;

}

.containerLeft {
    display: flex;
    flex-direction: column;
}

/* Container de droite */

.containerProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #151F2B;
    border-top-left-radius: 16px;
    height: 24vh;
    width: 20vw;

}

.logoContainer {
    Display: flex;
    justify-content: flex-start;
}


.nameContainer {
    display: flex;
    color: white;
    font-size: 2em;
    margin: 10px;
}

.profilePic {
    object-fit: cover;
    height: 100px;
    width: 100px;
    padding: 16px;
    border-radius: 100%;
}


/* Container milieu */

.containerMiddle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 98vh;
    width: 80vw;
    background-color: #d8d2c7;
    padding: 10px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;

}

.writeTweet {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    height: 150px;
}

.sendTweet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.tweetInput {
    height: 80px;
    border-radius: 16px;
    font-size: 1.5rem;
    width: 60vw;
    border: none;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    padding-left: 16px;
        margin-right: 8px;
    }
    
    .inputBar {
        width: 100%;
}

.tweetButton {
    width: 40px;
        height: 80px;
    border: 2px solid;
    border-radius: 16px;
    font-size: 1rem;
    border: solid 2px white;
    color: #151F2B;
}

.tweetButton:hover {
    background-color: #CCC5B7;
    color: white;
    cursor: pointer;
}

.tweetsContainer {
    display: flex;
    width: 60vw;
    flex-direction: column;
    align-items: flex-start;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin-top: 16px;
}

.pageButtons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
    gap: 16px;
}

.pageButton {
    cursor: pointer;
    font-size: xx-large;
}

/* Container trends  */

.containerTrends {
    display: flex;
    flex-direction: column;
    height: 74vh;
    width: 20vw;
    border-bottom-left-radius: 16px;
    background-color: #10325e;
}

.trendsTitle {
    display: flex;
        padding: 16px;
            justify-content: flex-start;
    align-items: center;
    color: white;
        font-size: 2em;
}

.hashtagsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    scroll-behavior: smooth;
    overflow-y: scroll;
    align-items: center;

}