.tweetContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    padding-top: 32px;
    padding-bottom: 8px;
    border-radius: 16px;
    border-bottom: 1px solid white;
    padding: 20px;
    
    margin-bottom: 16px;
        background: rgba(236, 243, 233, 0.07);
        border-radius: 16px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6.2px);
        -webkit-backdrop-filter: blur(6.2px);
        border: 1px solid rgba(236, 243, 233, 0.21);
}

 .tweetTop {
     color: black;
     margin-bottom: 16px;
 }
.tweetContent {
    font-size: 2em;
}

.infos {
    display: flex;
    align-items: center;
        justify-content: space-between;
}

.date {
    display: flex;
    color: black;
        font-size: 8px;
}

.iconeLike {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconeDroite {
display: flex;
    align-items: center;
    gap: 16px ; 
}