.tweetContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    color: white;
    padding-top: 10px;
    padding-bottom: 8px;
    border-top: 0.8px solid white;
    padding-bottom: 30px;

}

.tweetTextContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.profilContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
.profilePic {
    object-fit: cover;
    height: 50px;
        width: 50px;
    border-radius: 100%;
    border: 3px solid;
        margin-right: 8px;
}

 .tweetTop {
    color: white;
     margin-bottom: 16px;
    font-size: 1.5em;
        font-weight: 50;
 }

.tweetContent {
    font-size: 2em;
    text-align: justify;
}

.infos {
    display: flex;
    width: 100%;
    margin-top: 16px;
    align-items: center;
   justify-content: space-between;
}

.date {
    display: flex;
    color: black;
        font-size: 8px;
}

.iconeLike {
    display: flex;
    align-items: center;
    gap: 4px;
}

.iconeLike:hover {
    cursor: pointer;
}

.iconeDroite {
    display: flex;
    align-items: center;
    gap: 16px ;
}
